@model IEnumerable<Wydawnictwo>
@{
    ViewData["Title"] = "Lista Wydawnictw";
}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.WydPictureURL)</th>
                    <th>@Html.DisplayNameFor(model => model.NameWyd)</th>
                    <th>@Html.DisplayNameFor(model => model.DescWyd) </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <a href="@item.WydPictureURL" target="_blank">
                                <img class="rounded-circle border border-secondary"
                                     src="@item.WydPictureURL"
                                     alt="@item.NameWyd"
                                     style="width: 150px; height: 150px; object-fit: contain; background-color: white;">
                            </a>
                        </td>

                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.NameWyd)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.DescWyd)
                        </td>
                        <td class="align-middle">
                            <div class="d-flex gap-2">
                                <a class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-controller="Wydawnictwa" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm"><i class="bi bi-eye"></i> Details</a>
                                <a class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Wydawnictwa" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i>Add New</a>
</div>