@model IEnumerable<Ksiazka>
@{
    ViewData["Title"] = "Lista Ksiazek";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.NameKs
                                    <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" height="100%" alt="@item.NameKs">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.DescKs</p>
                            <p class="card-text"><b>Biblioteka: </b>@item.Biblioteki.NameBib</p>
                            <p class="card-text"><b>Wydawnictwo: </b>@item.Wydawnictwa.NameWyd</p>
                            <p class="card-text"><b>Kategoria: </b>@item.ksiazkaCategory</p>
                            <p class="card-text"><b>Publikacja: </b>@item.PublikacjaTime.ToString("dd MMM yy")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if(DateTime.Now >= @item.PublikacjaTime)
                                {
                                    <span class="badge bg-success text-white">Dostepny</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-white">Wkrótce</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Pokaż szczegóły</a>
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Zamów </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Ksiazki" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Dodaj Nowy Film!
    </a>
</div>